<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Product</title>
</head>
<body>
	<div>
		<button onclick="window.location.href='/'">
			<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/7c/Go-home.svg/48px-Go-home.svg.png">
		</button>
		<h3 style="align-content: center;">Home</h3>
	</div>
	<div>
		<img src="https://cdn.webshopapp.com/shops/267350/files/353318645/650x650x2/xiaomi-xiaomi-mi-essential-electric-scooter.jpg">
		<h3 style="text-align: center;">Electric Scooter</h3>
	</div>
	<h4>500$</h4>
	<div>
		<button onclick="window.location.href='/cart'">
			<img src="https://cdn-icons-png.flaticon.com/512/70/70021.png">
		</button>
		<h3 style="align-content: center;">Add To Cart</h3>
	</div>

</body>
</html>